@page
@model bolnica_razor_pages.Pages.Pacijenti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pacijent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.DatumRodjenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Spol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Spol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.BrojKartona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.BrojKartona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacijent.Odjel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacijent.Odjel.Naziv)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pacijent.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
