@page
@model bolnica_razor_pages.Pages.Pacijenti.IndexModel

@{
    ViewData["Title"] = "Popis pacijenata";
}

<h1>Popis pacijenata</h1>

<p>
    <a asp-page="Create" class="btn btn-success">
        Dodaj novog pacijenta
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rođenja</th>
            <th>Spol</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Broj kartona</th>
            <th>Odjel</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pacijent)
{
        <tr>
            <td>@item.Ime</td>
            <td>@item.Prezime</td>
            <td>@item.DatumRodjenja.ToShortDateString()</td>
            <td>@item.Spol</td>
            <td>@item.Adresa</td>
            <td>@item.Telefon</td>
            <td>@item.Email</td>
            <td>@item.BrojKartona</td>
            <td>@item.Odjel?.Naziv</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">
                    Uredi
                </a>
                |
                <a asp-page="./Delete" asp-route-id="@item.Id">
                    Obriši
                </a>
            </td>
        </tr>
}
    </tbody>
</table>