@page
@model bolnica_razor_pages.Pages.Odjeli.IndexModel

@{
    ViewData["Title"] = "Popis odjela";
}

<h1>Popis odjela</h1>

<p>
    <a asp-page="Create" class="btn btn-success">
        Dodaj novi odjel
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].BrojPacijenata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].PrimariusIme)
            </th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Odjel)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojPacijenata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimariusIme)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">
                    Uredi
                </a>
                |
                <a asp-page="./Delete" asp-route-id="@item.Id">
                    Obriši
                </a>
            </td>
        </tr>
}
    </tbody>
</table>