@page
@model bolnica_razor_pages.Pages.Odjeli.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].BrojPacijenata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odjel[0].PrimariusIme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Odjel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojPacijenata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimariusIme)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
